body{
    background: #F0FFDD;
}

header{
/* Rectangle 1 */
width: 100%;
height: 70px;

background: #E0FFCF;
}
.logo{
    /* image 1 */

position: absolute;
width: 60px;
height: 60px;
left: 0px;
top: 0px;

background: url(image.png);

}
nav a{
font-family: 'jsMath-cmbx10';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;

color: #000000;
text-decoration: none;


}
nav{
display: flex;
justify-content: space-around;
}
footer a{
    /* Звязатися з нами */

font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
/* identical to box height */

color: #000000;

text-decoration: none;
}
.ourhalls{
    text-align: center;
    font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
/* identical to box height */

color: #000000;

}
.halls{
    display: flex;
    justify-content: space-around;
}
.soon{
    text-align: center;
    /* Звязатися з нами */


font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
/* identical to box height */

color: #000000;


}
.a{
    display: flex;
    justify-content: space-around;
}
.a img{
width: 250px;
height: 400px;
}
footer{
    display: flex;
justify-content: space-around;
/* Rectangle 2 */

background: #E0FFCF;
bottom:0px;
position: fixed;
width: 100%;
}
.popkorn{
    display: flex;
    justify-content: space-around;
}
.popkorn img{
    width: 200px;
    height: 200px;
}
.b{
    display: flex;
    justify-content: space-around;
}
.b img{
     width: 200px;
    height: 200px;
}
.Wicked p{
    /* Дитячі */


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;


}
.Wicked p{
    /* Дитячі */


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;


}
main img{
    opacity: 0.8;
}
main img:hover{
    opacity: 1;
}
.aa{
    display: flex;
    flex-direction: column;
}
.aa p{
    text-align: center;
}
a:hover{
    font-size: 15px;
    color: lightsteelblue;
}
